/* EmployeeForm.css */
body {
    background-color: beige; /* Sky blue background */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.forms-body{
    background:linear-gradient(135deg, #667eea, #764ba2);
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    background-color:dimgrey;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

button {
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

select {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
}

/* EmployeeForm.css */

.form-title {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    color: white;
}

