body{
    background-color: #E3F2FD;
}
.form-login{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bolder;
}
.form-body{
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(135deg, #667eea, #764ba2);
}
@media (max-width: 768px) {
    .form-body{
        width: min-content;
        display: flex;
        justify-content: center;
        align-items: center;
        background:linear-gradient(135deg, #667eea, #764ba2);
    }
    .responsive-form{
        display: flex;
        flex-direction: column;
    }
  }